/* Reset some default styles */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Kanit", sans-serif;
  overflow: hidden; /* Prevent horizontal scrollbar */
  cursor: default;
}

/* Create a full viewport landing page */
.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Hide any overflowing content */
}

/* Apply an overlay with reduced opacity to the image */
.image-overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  transition: opacity 1s, filter 1s; /* Apply transitions for opacity and filter */
  opacity: 0.6; /* Initial opacity */
  filter: brightness(100%); /* Initial brightness */
}

/* Darken and make the image transparent on load */
.loaded .background-image {
  opacity: 0.4; /* Adjust opacity as needed */
  filter: brightness(25%); /* Adjust brightness as needed */
}

/* Style the text container */
.container {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity 1s; /* Apply transition for opacity */
  opacity: 0; /* Initial opacity */
}

/* Fade in the text container on load */
.loaded .container {
  opacity: 1;
}

/* Style the headings and button */
h1,
h2 {
  opacity: 0; /* Initial opacity */
  transition: opacity 1s ease-in-out; /* Apply transition for opacity */
}

/* Make elements visible one by one */
.fade-in-delay.visible:nth-child(1) {
  opacity: 1;
  transition-delay: 0.5s; /* Delay for the first element */
}

.fade-in-delay.visible:nth-child(2) {
  opacity: 1;
  transition-delay: 1s; /* Delay for the second element */
}

.fade-in-delay.visible:nth-child(3) {
  opacity: 1;
  transition-delay: 2.5s; /* Delay for the third element */
}
.fade-in-delay.visible:nth-child(4) {
  opacity: 1;
  transition-delay: 3s; /* Delay for the third element */
}
.fade-in-delay.visible:nth-child(5) {
  opacity: 1;
  transition-delay: 3.5s; /* Delay for the third element */
}

.text-box {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-shadow: 4px 2px 4px rgba(1, 1, 1, 1);
  margin-bottom: 3rem;
}

.discover-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(199, 3, 173, 0.479);
  color: #ffffff;
  text-decoration: solid;
  font-size: 1.2em;
  font-weight: 500;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 1s ease-in-out; /* Add transition for opacity */
  opacity: 0; /* Initial opacity */
}

/* Add hover effect */
.discover-button:hover {
  background-color: #8dc4ff;
}

/* Make the button visible */
.loaded .discover-button.visible {
  opacity: 1;
}
.loaded .discover-button.visible:hover {
  opacity: 1;
  background-color: rgba(0, 174, 255, 0.137);
  color: black;
  font-weight: 500;
  transition: all 1s ease-in-out;
}

h1 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 4px 2px 4px rgba(1, 1, 1, 1);
}

h2 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 4px 2px 4px rgba(1, 1, 1, 1);
}
.discover-me {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.hidden {
  opacity: 0;
}
.socials {
  margin-top: 1rem;
  border-radius: 50%;
  transition: opacity 1.5s ease-in-out;
}
.socials:hover {
  cursor: pointer;
}
.arrow {
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  transition: opacity 0.5s ease-in-out;
}
.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid;
  border-color: rgba(199, 3, 173, 0.479);
}
@media (max-width: 1440px) {
  .container {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  .container {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  /* Adjust font size and heights for screens up to 768px wide */
  .container {
    font-size: 70%;
  }

  .avatar {
    width: 8rem;
    height: 8rem;
  }

  .discover-button {
    padding: 8px 16px;
  }
}

@media (max-width: 485px) {
  /* Adjust font size and heights for screens up to 425px wide (e.g., iPhone SE) */
  .container {
    font-size: 60%;
  }

  .avatar {
    width: 5rem;
    height: 5rem;
  }

  .discover-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  /* Adjust font size and heights for screens up to 375px wide (e.g., iPhone 6/7/8) */
  .container {
    font-size: 55%;
  }

  .avatar {
    width: 3.5rem;
    height: 3.5rem;
  }

  .discover-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  /* Adjust font size and heights for screens up to 320px wide (e.g., smaller smartphones) */
  .container {
    font-size: 50%;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .discover-button {
    padding: 4px 8px;
    font-size: 0.7rem;
  }
}
